<!doctype html>
{% extends "main/layout.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'account\css\me.css' %}" />
{% endblock %}
{% block content %}
<h3>Добро пожаловать, {{ user.first_name }} {{ user.last_name }}!</h3>
<div class="container-card">
    <div class="profile">
        <div class="avatar"></div>
        <div class="name-card">
            <span class="profile-name">{{ user.first_name }}</span>
            <span class="profile-name">{{ user.last_name }}</span>
        </div>
        <span class="date-joined">Пользователь сайта с {{ user.date_joined.date }}</span>
    </div>
    <hr></hr>
    <span>Выши треки привычек:</span>
    <div class="trackers">

        <div class="card">
            <div>
                <h4>Пьем воду каждый день!</h4>
                <span class="target">Цель: </span><span>Пить по 2л. воды каждый день</span>
            </div>

            <div class="strick">
                <span>Ваш стрик: </span>
                <span class="target">72</span>
                <span>дня!</span>
            </div>
            <button class="tracker-button" type="submit" name="tracker">Выполнил!</button>
        </div>

        <div class="card">
            <div>
                <h4>Пьем воду каждый день!</h4>
                <span class="target">Цель: </span><span>Пить по 2л. воды каждый день</span>
            </div>

            <div class="strick">
                <span>Ваш стрик: </span>
                <span class="target">72</span>
                <span>дня!</span>
            </div>
            <button class="tracker-button" type="submit" name="tracker">Выполнил!</button>
        </div>

        <div class="card">
            <div>
                <h4>Пьем воду каждый день!</h4>
                <span class="target">Цель: </span><span>Пить по 2л. воды каждый день</span>
            </div>

            <div class="strick">
                <span>Ваш стрик: </span>
                <span class="target">72</span>
                <span>дня!</span>
            </div>
            <button class="tracker-button" type="submit" name="tracker">Выполнил!</button>
        </div>
    </div>
</div>
{% endblock %}